<!doctype html>
<html lang="en">
  <head>
    <title>Chi tiết đơn hàng</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/admin.js"></script>
  </head>
  <body>
    <%- include('admin-navbar'); -%>
    <!-- breadcum -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="#">Chi tiết đơn hàng</a></li>
  </ol>
    <div class="container">
        <div class="mb-3 mt-3">
          <h1 style="font-size: 39px;display: inline;">Chi tiết đơn hàng</h1>
          <% if(donhang.trang_thai=="đã xác nhận"){ %>
            <button class="btn btn-warning mb-2" disabled>Đã xác nhận và gửi mail</button>
          <% } %>
        </div>
        <h3>Thông tin khách hàng</h2>
        <table class="table" style="background-color: #bdc3c7;border: 1px black solid;">
          <tbody>
             <tr>
                <td style="padding-left: 3rem;font-weight: bold;">Họ và tên</td>
                <td><%=donhang.ttkh.ho_ten %></td>
             </tr>
             <tr>
                <td style="padding-left: 3rem;font-weight: bold;">Email</td>
                <td><%=donhang.ttkh.email %></td>
             </tr>
             <tr>
                <td style="padding-left: 3rem;font-weight: bold;">SĐT</td>
                <td><%=donhang.ttkh.sdt %></td>
             </tr>
             <tr>
                <td style="padding-left: 3rem;font-weight: bold;">Địa chỉ</td>
                <td><%=donhang.dia_chi_nhan_hang %></td>
             </tr>
          </tbody>
        </table>
        <h3>Sản phẩm đặt(<%= donhang.tong_san_pham %> sản phẩm)</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Mã sản phẩm</th>
              <th scope="col">Tên sản phẩm</th>
              <th scope="col">Ảnh sản phẩm</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Đơn giá</th>
              <th scope="col">Thành tiền</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0;i<donhang.san_pham.length;i++){ %>
            <tr>
              <td><%= donhang.san_pham[i].phone_id %></td>
              <td><%= donhang.san_pham[i].name %></td>
              <td><img src="<%= donhang.san_pham[i].hinh_anh %>" alt="" style="width: 50px;"></td>
              <td><%= donhang.san_pham[i].so_luong %></td>
              <td><%= donhang.san_pham[i].gia_hien_thi %></td>
              <td><%= thanh_tien[i] %>đ</td>
            </tr>
            <% } %>
          </tbody>
        </table>
        
        <p style="float: right;font-weight: 500;font-size:30px;color: black;" class="mb-5">Tổng tiền : <%= tong_tien %>đ</p>
        <% if(donhang.trang_thai=="chờ xử lý"){ %>
        <a href="/admin/donhang/xacnhan/<%= donhang._id %>">
          <button type="submit" class="btn btn-primary">Xác nhận và gửi mail thông báo</button>
        </a>
        <% } %>
        
      </div>
    </div>
  </body>
</html>