<!doctype html>
<html lang="en">
  <head>
    <title>Sửa điện thoại</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/admin.js"></script>
</head>
  <body>
    <%- include('admin-navbar'); -%>
    <!-- breadcum -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin"></a>Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="/admin/sanpham/sua/<%=dienthoai.phone_id%>">Sửa sản phẩm</a></li>
  </ol>
    <form action="" method="POST">
      <div class="content">
        <div class="cot1">
            <label>Mã điện thoại</label>
            <input type="" class="form-control" name="phone_id" value="<%=dienthoai.phone_id%>" readonly>
            <label>Mã danh mục</label>
            <input type="text" class="form-control" name="danh_muc_id" value="<%=dienthoai.danh_muc_id%>" required>
            <label>Tên sản phẩm</label>
            <input type="text" class="form-control" name="name" value="<%=dienthoai.name%>" required>
            <label>Giá sản phẩm(VND)</label>
            <input type="number" class="form-control" name="gia" value="<%=dienthoai.gia%>" required>
            <label>Giá hiển thị(VND)</label>
            <input type="text" class="form-control" name="gia_hien_thi" value="<%=dienthoai.gia_hien_thi%>" required>
            <label>CPU</label>
            <input type="text" class="form-control" name="cpu" value="<%=dienthoai.cpu%>" required>
        </div>
          <div class="cot2">
            <label>Ảnh sản phẩm</label>
            <input type="text" class="form-control" name="hinh_anh" value="<%=dienthoai.hinh_anh%>" required> 
            <label>RAM</label>
            <input type="text" class="form-control" name="ram" value="<%=dienthoai.ram%>" required>
            <label>Màn hình</label>
            <input type="text" class="form-control" name="man_hinh" value="<%=dienthoai.man_hinh%>" required>
            <label>Hệ điều hành</label>
            <input type="text" class="form-control" name="he_dieu_hanh" value="<%=dienthoai.he_dieu_hanh%>" required>
            <label>Hãng sản xuất</label>
            <select class="form-control" name="brand">
              <option>apple</option>
              <option>samsung</option>
              <option>xiaomi</option>
              <option>huawei</option>
            </select>
            <label>Thẻ sim</label>
            <input type="text" class="form-control" name="the_sim" value="<%=dienthoai.the_sim%>" required>
          </div>
        <div class="cot3">
          <label>Bộ nhớ trong</label>
          <input type="text" class="form-control" name="bo_nho_trong" value="<%=dienthoai.bo_nho_trong%>" required>
          <label>Dung lượng pin</label>
          <input type="text" class="form-control" name="dung_luong_pin" value="<%=dienthoai.dung_luong_pin%>" required>
          <label>Số lượng</label>
          <input type="number" class="form-control" name="so_luong" value="<%=dienthoai.so_luong%>" required>
          <label>Camera trước</label>
          <input type="text" class="form-control" name="camera_truoc" value="<%=dienthoai.camera_truoc%>" required>
          <label>Camera sau</label>
          <input type="text" class="form-control" name="camera_sau" value="<%=dienthoai.camera_sau%>" required>
          <label>Promotion</label>
          <input type="text" class="form-control" name="promotion" value="<%=dienthoai.promotion%>" required>
        </div>   
      </div>
      <button class="btn btn-success mt-5 mb-5 ml-2" type="submit">Sửa sản phẩm</button>
    </form>
    
  </body>
</html>