<!doctype html>
<html lang="en">

<head>
  <title>Điện thoại</title>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="/css/admin.css">
  <script src="/js/admin.js"></script>
</head>

<body>
  <%- include('admin-navbar'); -%>
  <!-- breadcum -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="#">Điện thoại</a></li>
  </ol>
  <div class="container-fluid">
    <div class="mb-3 mt-3">
      <h1 class="d-inline">Điện thoại</h1>
      <a href="/admin/dienthoai/them" class="btn btn-success">Thêm</a>
    </div>
    <table class="table" id="table1">
      <thead>
        <tr>
          <th scope="col">Tên điện thoại</th>
          <th scope="col">Hình ảnh</th>
          <th scope="col">Thương hiệu</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Giá tiền</th>
          <th scope="col">Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0;i<dienthoai.length;i++){ %>
        <tr>
          <td scope="row"><%= dienthoai[i].name %></td>
          <td><img src="<%= dienthoai[i].hinh_anh %>" alt="" style="width: 50px" ;></td>
          <td><%= dienthoai[i].brand %></td>
          <td><%= dienthoai[i].so_luong %></td>
          <td id="gia_dt"><%= dienthoai[i].gia %></td>
          <td>
            <a href="/dienthoai/<%= dienthoai[i].phone_id %>" class="btn btn-success">Xem</a>
            <a href="/admin/dienthoai/xoa/<%= dienthoai[i].phone_id %>" class="btn btn-danger">Xóa</a>
            <a href="/admin/dienthoai/sua/<%= dienthoai[i].phone_id %>" class="btn btn-dark">Sửa</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  </div>
</body>

</html>