<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
    <%- include('header'); -%>
    <!-- giỏ hàng -->
    <h2 class="text-center" style="padding: 3rem;">Giỏ hàng</h2>
    <div class="container"> 
    <table id="cart" class="table table-hover table-condensed"> 
  <thead> 
   <tr> 
    <th>Tên sản phẩm</th> 
    <th>Giá</th> 
    <th style="width: 200px;">Số lượng</th> 
    <th>Thao tác</th> 
   </tr> 
  </thead> 
  <tbody>
    <% if(session){ %> 
    <% for(var i = 0;i < session.gio_hang.length;i++){ %>   
   <tr>
   <td data-th="Product"> 
    <div class="row"> 
     <div class="col-sm-2 hidden-xs"><img src="<%= session.gio_hang[i].hinh_anh %>" alt="Sản phẩm 1" class="img-responsive" width="100">
     </div> 
     <div class="col-sm-10"> 
      <h4 class="nomargin ten-san-pham"><%= session.gio_hang[i].name %></h4> 
     </div> 
    </div> 
   </td> 
   <td data-th="Price"><%= session.gio_hang[i].gia_hien_thi %></td> 
   <td data-th="Quantity">
       <a href="/giohang/add/<%= session.gio_hang[i].phone_id %>" class="btn btn-success" style="padding:10px;display: inline;">
            <i class="fa fa-plus" style="padding-left:5px;box-sizing: border-box;"></i>
       </a>
       <button style="width:33%;padding:10px;margin-left:5px;"><%= session.gio_hang[i].so_luong %></button>
       <a href="/giohang/substract/<%= session.gio_hang[i].phone_id %>" class="btn btn-success" style="padding:10px 10px ;display: inline;">
        <i class="fa fa-minus" style="padding-left:5px;box-sizing: border-box;" ></i>
   </a>
   </td> 
   <td>
    <a href="/giohang/remove/<%= session.gio_hang[i].phone_id %>" class="btn btn-block" style="font-size:15px; color: white;background-color: rgb(216, 5, 5);">
        <i class="fa fa-trash-o"></i>
    </a>
    </button>
   </td> 
  </tr> 
  <% } %>
  
  </tbody>

  
 </table>
 <div class="container">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
          <a href="/dienthoai" class="btn btn-block btn-warning" style="padding:15px;font-size: 13px;"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
        </div>
        <div class="col-sm-4 col-sm-offset-3 col-xs-12 text-center" style="padding: 15px 0 15px 0;">
          <strong style="font-size: 18px;">Tổng tiền : <%= tong_tien %>đ</strong>
        </div>
    </div>
</div>
</div>
<% } %>
<!-- thông tin người mua -->
<form action="" method="POST">
    <div class="container bg-default" style="background-color: #F8F9FA;color: black;">
			
        <h4 class="my-4">
            Thông tin khách hàng
        </h4>
        <form>
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label for="firstname">Họ và tên</label>
                    <input type="text" class="form-control" id="firstname" name="ho_ten" placeholder="Họ và tên" required>
                    <div class="invalid-feedback">
                        Please enter your shipping name.
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        Please enter your email.
                    </div>
            </div>

            <div class="form-group col-md-6">
                <label for="adress">Địa chỉ nhận hàng</label>
                <input type="text" class="form-control" id="adress" name="dia_chi_nhan_hang" placeholder="Hai Bà Trưng,Hà Nội" required>
                <div class="invalid-feedback">
                    Please enter your shipping address.
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="sdt">SĐT</label>
                <input type="text" class="form-control" id="sdt" name="sdt" placeholder="0825050178" required>
                <div class="invalid-feedback">
                    Please enter your phone.
                </div>
            </div>
            <button class="btn btn-primary bt-lg btn-block" style="height:50px" type="submit">Đặt hàng</button>
        </form>
    </div>
</form>
    <!-- end giỏ hàng -->

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">

                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Contact Info </h3>
                        <div class="contact-info">
                            <span class="contact-icon"><i class="fa fa-map-marker"></i></span>
                            <span class="contact-text">Ha Noi university of Science and Technology<br>
                                Giai Phong Street,
                                Hai Ba Trung,Ha Noi</span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-icon"><i class="fa fa-phone"></i></span>
                            <span class="contact-text">0372815302</span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-icon"><i class="fa fa-envelope"></i></span>
                            <span class="contact-text">allmid66@gmail.com</span>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Quick Links</h3>
                        <ul class="arrow">
                            <li><a href="/">Home </a></li>
                            <li><a href="phone">Phone</a></li>
                            <li><a href="#">Laptop</a></li>
                            <li><a href="#">Tablet</a></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div>
                </div>

                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Policy Info</h3>
                        <ul class="arrow">
                            <li><a href="#">Payments</a></li>
                            <li><a href="#">Cancellation &amp; Returns</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">T &amp; C</a></li>
                        </ul>
                    </div>
                </div>

                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Connect With Us</h3>
                        <div class="ft-social">
                            <span><a href="#" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a></span>
                            <span><a href="#" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- end footer -->
    <script src="/js/menumaker.js" type="text/javascript"></script>
</body>
</html>