<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/checkout.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <%- include('navbarproduct'); -%>
    <div class="container">
      <br>  
      <h1 class="mr-2 mb-1" style="display: inline;">Danh sach san pham da chon</h1>      
        <br><br><br>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">So luong</th>
                </tr>
              </thead>
            <% for(var i=0;i < product.length;i++){ %>
                <tr>
                    <td scope="col"><%= i+1 %></td>
                    <td scope="col"><img src="<%=product[i].image%>" alt=""></td>
                    <td scope="col"><%= product[i].name %></td>
                    <td scope="col"><%= product[i].price %> $</td>
                    <td scope="col">
                      <a href="/cart/substract/<%= product[i].productId %>" class="btn btn-success">-</a>
                      <button class="btn btn-primary"><%= product[i].numberOfItem%></button>
                      <a href="/cart/add/<%= product[i].productId %>" class="btn btn-success">+</a>
                    </td>
                    
                </tr>
            <% } %>
        </table>
        <p style="font-weight: bold;float: right;font-size: large;">Total: <%=sum%> $</p>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>