<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="/styles/product.js"></script>
    <title>Document</title>
</head>
<body>
  <%- include('navbarProduct'); -%>
    <div class="cangiua">
        <form class="form-inline" id="search" action="/product/search" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" id="input-search" aria-label="Search" name="q"> 
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btn-search">Search</button>
        </form>
    </div>
   
    <div class="cangiua">
        <div class="phone"> 
            <h2 class="text">Điện thoại</h2>
            <hr>
            <div class="list-phone">
                <% for(var i=0;i<product.length;i++){ %>
                    <div class="box-item">
                        <a href="" class="item">
                            <img width="180" height="180" class="images" src="<%=product[i].image%>">
                            <h3><%=product[i].name%></h3>
                            <div class="price"><strong><%=product[i].price%> $</strong></div>
                            <div class="description">
                            <small> <%=product[i].description%> </small>
                            </div>
                            <a href="/cart/add/<%= product[i]._id %>" class="btn btn-primary" style="float:right">Add to cart</a>
                        </a>
                    </div>
                 <% } %>
                
            </div>
        </div>
    </div>
    <%- include('paginationBar'); -%>
    <!-- footer -->

    <div class="footer">
        <div class="cangiua">
            <div class="information">
             <div class="column">
                 <div class="logo">
                    <i class="fas fa-cat"></i>
                     <h2>Small Cat</h2>
                 </div>
                 <div class="phone">
                     <i class="fas fa-phone-alt"></i>
                     <p>0825050178</p>
                 </div>
                 <div class="social">
                     <i class="fab fa-facebook-f"></i>
                     <i class="fab fa-instagram"></i>
                     <i class="fab fa-twitter"></i>
                     <i class="fab fa-github"></i>
                 </div>
             </div>
             <div class="column">
                 <p class="text1">Company</p>
                 <ul>
                     <li>About Us</li>
                     <li>About Us</li>
                     <li>About Us</li>
                     <li>About Us</li>
                 </ul>
             </div>
             <div class="column">
                 <p class="text1">Company</p>
                 <ul>
                     <li>About Us</li>
                     <li>About Us</li>
                     <li>About Us</li>
                     <li>About Us</li>
                 </ul>
             </div>
             <div class="column">
                 <p class="text1">Company</p>
                 <ul>
                     <li>About Us</li>
                     <li>About Us</li>
                     <li>About Us</li>
                     <li>About Us</li>
                 </ul>
             </div>
            </div>
         </div>
    </div>
</body>
</html>